<h1>Edit Recipe</h1>

<%= form_for @recipe do |f|%>
<div class="add-recipe">
    <div>
        <%= f.label :name %><sup>*</sup><br>
        <%= f.text_field :name, required: true %>
        <br>
        <%= f.label :web_source %><br>
        <span class="info">Is this recipe taken from somewhere?<br>If so, please enter the source:</span>
        <br>
        <%= f.text_field :web_source %>
        <br>
        <%= f.label :photo_url %><br>
        <%= f.text_field :photo_url %>
        <br>
        <div class="flex-no-wrap">
            <div>
                <%= f.label :servings %><sup>*</sup><br>
                <%= f.number_field :servings, required: true %>
            </div>
            <div style="margin-left: 30px;">
                <%= f.label :"total_cost ($)" %><sup>*</sup><br>
                <%= f.number_field :total_cost, required: true %>
            </div>
        </div>
        <%= f.label :difficulty %><br>

        <div class="difficulty">
            <%= f.radio_button(:difficulty, "easy") %>
            <%= f.label(:difficulty, "easy") %>

            <%= f.radio_button(:difficulty, "medium") %>
            <%= f.label(:difficulty, "medium") %>

            <%= f.radio_button(:difficulty, "hard") %>
            <%= f.label(:difficulty, "hard") %>
        </div>
    </div>
    <div>
        <%= f.label :directions %><sup>*</sup><br>
        <%= f.text_area :directions, required: true %>
        <br>
    </div>
</div>
<%= f.submit %>

<% end %>
