<h1>Add New Ingredient</h1>

<%= form_for [@recipe,@ingredient] do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name, required: true %>
  <br>
  <%= f.label :amount %><br>
  <%= f.number_field :amount, required: true %>
  <br>
  <%= f.label :measurement %>
  <br>
  <span class="info">(cup, tbsp, slice, lb, etc.)</span>
  <br>
  <%= f.text_field :measurement %>
  <br>
  <%= f.label :calories %><br>
  <%= f.number_field :calories, required: true %>
  <br>
  <%= f.submit %>
<% end %>
