<h1>Add New Ingredient</h1>

<%= form_for [@recipe,@ingredient] do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :amount %><br>
  <%= f.number_field :amount %>
  <br>
  <%= f.label :measurement %><br>
  <%= f.text_field :measurement %>
  <br>
  <%= f.label :calories %><br>
  <%= f.number_field :calories %>
  <br>
  <%= f.submit %>
<% end %>
