<h1><%= @meal.name %></h1>

<span>Servings: <%= @meal.servings %></span>
<span>Total Cost: $<%= @meal.total_cost %></span>
<span>Difficulty: <%= @meal.difficulty %></span>

<div class="flex">
  <div class="show" style="background-image: url(<%= @meal.photo_url %>)"></div>

<ul>
<% @ingredients.each do |ingredient| %>
  <li>
    <%= ingredient.name %>
    <%= ingredient.amount %>
    <%= ingredient.measurement %>
  </li>
<% end %>
<%= link_to "+ Add Ingredient", new_meal_ingredient_path(@meal) %>
</ul>

</div>


<p>Directions: <%= @meal.directions %></p>
