<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic|Montserrat+Alternates" rel="stylesheet">
    <title>Recipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div style="display:flex;">
        <%= image_tag("logo.png") %>
        <h1>crumble</h1>
      </div>
      <div>
        <% if !current_user %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% else %>
          <%= current_user.email %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </header>
    <nav>
      <%= link_to "Your Recipe Box", "/recipe_box" %>
      <%= link_to "Browse Recipes", meals_path %>
    </nav>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
  </body>
</html>
