<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <script src="https://use.fontawesome.com/573953d01d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic|Montserrat+Alternates" rel="stylesheet">
    <title>Crumble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="flex-end">
        <%= image_tag("logo2.png") %>
        <h1>crumble</h1>
      </div>
      <div>
        <% if !current_user %>
          <%= link_to "Sign Up", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
        <% else %>
          <span class="email"><%= current_user.email %></span>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </header>
    <div id="placeholder">
    </div>
    <nav>
      <% if current_user %>
      <%= link_to "Your Recipe Box", "/recipe_box" %>  
      <%= link_to "Browse Recipes", recipes_path %>
      <% end %>
    </nav>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </main>
  </body>
</html>
